body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .display {
        margin: 2rem;
    }

    .score {
        margin: 2rem;
        width: 20rem;
        display: flex;
        justify-content: space-between;
    }
}